.env
env
myenv
venv/
firebase_key.json
db.sqlite3
/neural_budget/__pycache__
/neural_budget/migrations/__pycache__/
/home/__pycache__
/home/migrations/__pycache__/
database_schema_recommendations.md
seed_categories.py
migrate_user_profiles.py
move_dash_image.pyvenv/
__pycache__/
*.pyc
*.pyo
.python-version
*.pyd
chatbot.log
GEMINI.md
media/
/chroma_db
ai.md
context.md
Directory_structure.md
Documentation.md
staticfiles/
*.log
CREDENTIALS_GUIDE.md