{% load static %}
<aside class="sidebar">
  <div class="logo">
    <a href="{% url 'reports:dashboard' %}">
      <img
        src="{% static 'core/img/logo.png' %}"
        alt="Neural Budget AI Logo"
        class="logo-img"
      />
      <span>Neural Budget AI</span>
    </a>
  </div>
  <nav>
    <ul>
      <li class="dropdown">
        <button class="drop-btn">
          <i class="fas fa-receipt"></i>Expense Tracking
          <i class="fas fa-angle-right dropdown-icon"></i>
        </button>
        <ul class="dropdown-content">
          <li>
            <a href="{% url 'reports:dashboard' %}">
              <i class="fas fa-tachometer-alt"></i> Overview
            </a>
          </li>
          <li>
            <a href="{% url 'transactions:add_transaction' %}">
              <i class="fas fa-plus-circle"></i> Add Expense
            </a>
          </li>
          <li>
            <a href="{% url 'transactions:transaction_history' %}">
              <i class="fas fa-eye"></i> View Transactions
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <button class="drop-btn">
          <i class="fas fa-wallet"></i>Budgeting Tools
          <i class="fas fa-angle-right dropdown-icon"></i>
        </button>
        <ul class="dropdown-content">
          <li>
            <a href="{% url 'budgets:set_budget' %}">
              <i class="fas fa-coins"></i>Set Budget
            </a>
          </li>
          <li>
            <a href="{% url 'budgets:smart_saver' %}">
              <i class="fas fa-magic"></i> Smart Saver
            </a>
          </li>
          <li>
            <a href="{% url 'budgets:smart_categorization' %}">
              <i class="fas fa-layer-group"></i> Smart Categorization
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <button class="drop-btn">
          <i class="fas fa-chart-line"></i>AI Insights
          <i class="fas fa-angle-right dropdown-icon"></i>
        </button>
        <ul class="dropdown-content">
          <li>
            <a href="{% url 'insights:predictive_analysis' %}">
              <i class="fas fa-brain"></i> Predictive Analysis
            </a>
          </li>
          <li>
            <a href="{% url 'insights:spending_insights' %}">
              <i class="fas fa-chart-pie"></i> Spending Insights
            </a>
          </li>
          <li>
            <a href="{% url 'insights:investment_guide' %}">
              <i class="fas fa-chart-line"></i> SAVI's Investment Guide
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <button class="drop-btn">
          <i class="fas fa-cog"></i>Settings
          <i class="fas fa-angle-right dropdown-icon"></i>
        </button>
        <ul class="dropdown-content">
          <li>
            <a href="/accounts/profile">
              <i class="fas fa-user"></i> Profile
            </a>
          </li>
          <li>
            <a href="#" id="signOutLink">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>